<h1>
  Here are my t-shirts!
</h1>

<div>
  <form action="/search" >
    <input name="q" type="text" />
    <button>Go go go</button>
  </form>
</div>

<p>
  <%= link_to 'create new', tshirts_path %>
</p>

<% @shirts.each do |shirt| %>
  <%= render partial: 'shirt', locals: { a_shirt: shirt } %>
<% end %>
